@tailwind base;
@tailwind components;
@tailwind utilities;

/* gradient checkbox css start */
.dropdown-container::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 26px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.checkbox-border-gradient {
  display: none;
  border: double 1px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #0909e9, #00d4ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

input[type="checkbox"]:checked + .checkbox-border-gradient {
  display: inline-flex;
}

input[type="checkbox"]:checked + .checkbox-border-gradient .checkmark {
  display: inline-block;
  color: #0091c2;
}

input[type="checkbox"]:checked + .checkbox-border-gradient + .normal-checkbox {
  display: none;
}

/* gradient checkbox css end */

/* gradient radiobuttons start */

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #ddd;
  transition: background 0.3s;
  padding: 1px;
  margin-top: 3px;
}

input[type="radio"]:checked {
  background: linear-gradient(to right, #0909e9, #00d4ff);
  border: none;
}

input[type="radio"]:checked:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px auto;
  background: white;
}

/* gradient radiobuttons end */

/* dropdown top right triangle */
.drop::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.custom-toast {
  /* Add custom styles for the toast container here */
  margin-top: 80px;
  width: 450px;
  margin-right: 5%;
}

.custom-toast-body {
  /* Add custom styles for the toast content here */
  font-size: 18px;
  font: bold;
}

/* ---> Hidding scroll bar on mobile navbar open. */

.no-scroll {
  overflow: hidden;
}

/* Animation to slide in from right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Animation to slide out to left */
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Slide entry and exit */
.slide-enter {
  animation: slideInRight 1s forwards;
}

.slide-exit {
  animation: slideOutLeft 1s forwards;
}

.gradient-text {
  background: linear-gradient(90deg, #0909e9, #00d4ff);
  background-clip: text; /* Standard */
  -webkit-background-clip: text; /* For Chrome, Safari, and iOS */
  -webkit-text-fill-color: transparent; /* For Chrome, Safari, and iOS */
  animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradientShiftHover {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-button {
  background: linear-gradient(90deg, #0909e9, #00d4ff);
  background-size: 200% 200%;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  transition:
    background-size 0.5s ease,
    transform 0.3s ease;
}

.animated-button:hover {
  background-size: 300% 300%; /* Make the background bigger when hovering */
  animation: gradientShiftHover 1.5s ease forwards; /* Animate on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}
